<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <script src="js/addtohomescreen.js"></script>
    <script>
        addToHomescreen();
    </script>
<body>
    <!-- Background Animation -->
    <div class="bg-animation" id="bgAnimation"></div>

    <div class="container mx-auto px-4 py-12 max-w-md">
        <div class="text-center bg-white bg-opacity-10 rounded-lg p-6 mb-6 border border-white border-opacity-20">
          <div><button id="installApp">Instalar Aplicación</button></a></div>
        </div>
        <!-- Profile Section -->
        {{ partial "profile.html" . }}

        <!-- Links Section -->
        {{ partial "link-card.html" . }}
        
        <!-- About Me section (If you want to write about yourself, uncomment the section below)--> 
        {{ partial "about.html" . }}

        <!-- Messaging Etiquette section -->
        {{ partial "messaging-etiquette.html" . }}

        <!-- Spotify Embed -->
        <!--{{ partial "spotify-playlist.html" . }}->>

        
          
        
        <!-- Embed with hue-shift filter -->
        <!-- style="filter: hue-rotate(150deg) saturate(0.6) brightness(0.9);" -->

        

        

       

        <footer class="text-center text-xs opacity-60">
            © 2025 TableTalks | Made with ❤️
        </footer>
        
    </div>

    <script src="js/script.js"></script>
    <script>
      let deferredPrompt;
    window.addEventListener('beforeinstallprompt', (e) => {
        deferredPrompt = e;
    });

    const installApp = document.getElementById('installApp');
    installApp.addEventListener('click', async () => {
        if (deferredPrompt !== null) {
            deferredPrompt.prompt();
            const { outcome } = await deferredPrompt.userChoice;
            if (outcome === 'accepted') {
                deferredPrompt = null;
            }
        }
    });
    </script>
        
</body>
</html>
